* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


nav {
    display: flex;
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
    align-content: space-evenly;
    width: 100%;
}

.logo {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 15%;
}

.navlist {
    width: 50%;
    margin-right: 15%;
    display: flex;
    justify-content: flex-end;
}

.lista {
    display: flex;
    justify-content: flex-end;

    width: 60%;

}

.lista>.barra {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 20%;
    align-items: center;
}

.start{
    align-items: center;
    justify-content: center;
    background-color: #191919;
    color: white;
    width: 20%;
    border-radius: 30px;

}

/*inizia header*/

header{
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
}

header>.emme{
   
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.headerd{
    display: flex;
    margin-left: 15%;
        justify-content: center;
       
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
}

 h1{
 font-family: "Spectral", serif;
 font-size: 5rem;
 margin-bottom: 0;
}