* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}



nav,
header {
    background-color: #ffc017;
}

nav {
    display: flex;
    border-bottom: 1px solid #191919;
    align-content: space-evenly;
    width: 100%;
position:relative;
}

.logo {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10%;
}

.navlist {
    width: 100%;
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.lista {
    display: flex;
    justify-content: flex-end;
    width: 60%;

}

.lista>.barra {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 20%;
    align-items: center;
}

.start {
    align-items: center;
    justify-content: center;
}

button {
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #191919;
    color: white;
    border-radius: 30px;
    width: 20%;
}

/*inizia header*/

header {
    border-bottom: 1px solid #191919;
    display: flex;

}

header>.emme {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin: auto;
    justify-content: center;
    align-items: stretch;

}

.headerd {
    display: flex;
    margin-left: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

h1 {
    font-family: "Spectral", serif;
    font-size: 6rem;
    font-weight: normal;
    margin: 0;
}

.contrending {
    display: flex;
    margin-left: 10%;
    align-items: center;
    text-transform: uppercase;
}

.table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    justify-content: space-between;
    align-content: space-between;
    margin-right: 10%;
    height: 300px;
}

.articles {
    border: 2px solid black;
    width: 30%;
}

.number {
    display: flex;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    justify-content: space-between;
    align-content: stretch;
    margin-right: 10%;
}

.person {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.person>span {
    margin-left: 5px;
}

.info {
    display: flex;
    margin-left: 15%;
}

.date {
    display: flex;
    display: flex;
    margin-left: 15%;
}
