* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


nav {
    display: flex;
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
    align-content: space-evenly;
}

.logo {
    margin-left: 15%;
}

.navlist {
    width: 100%;
    margin-right: 15%;
    display: flex;
    justify-content: flex-end;
}

.lista {
    display: flex;
    justify-content: flex-end;

    width: 60%;

}

.lista>.barra {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 20%;
    align-items: center;
}

.start{
    align-items: center;
    justify-content: center;
    background-color: #191919;
    color: white;
    width: 20%;
    border-radius: 30px;

}
header{
    padding:50px;
    border: 3px solid black;
}

header>.emme{
    display: flex;
    width: 40%;
    height: 100%;
}